{{#each gifts as |gift|}}

  <div class="row">
    <div class="col col-sm-6 col-sm-offset-2 col-xs-8">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            <span>{{gift.nickname}} </span>
            <span class="pull-right">{{gift.dob}}</span>
          </h3>
        </div>
        <div class="panel-body">
          {{gift.gift}}
        </div>
      </div>
    </div>
    <div class="col col-sm-4 ">
      <!-- update to icon, and Verical-Align -->

        <button data-id="{{gift.id}}" type="button" class="btn btn-danger" data-container="body" data-toggle="popover-{{gift.id}}" data-trigger="focus">
          Delete
        </button>

        <button data-id="{{gift.id}}" class='gift-update btn btn-warning'>
          Modify
        </button>



    </div>
  </div>

{{/each}}
