
<h1>{{friend.nickname}}</h1>
<button class="btn btn-primary btn-lg" type="button" id="load-friends">Back to Friends</button>

<button class="btn btn-success btn-lg" type="button" id="open-new-gift-modal" data-id="{{friend.id}}">New Gift Idea!</button>
{{#each friend.gifts as |gift|}}

  <div class="row">
    <div class="col col-sm-6 col-sm-offset-2 col-xs-8">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <!-- Leave for blue top! -->
        </div>
        <div class="panel-body">
          {{gift.gift_idea}}
        </div>
      </div>
    </div>
    <div class="col col-sm-4 ">
      <!-- update to icon, and Verical-Align -->

        <button data-id="{{gift.id}}" type="button" class="btn btn-danger" data-container="body" data-toggle="popover-{{gift.id}}" data-trigger="focus">
          Delete
        </button>

        <button data-id="{{gift.id}}" class='gift-update btn btn-warning'>
          Modify
        </button>



    </div>
  </div>

{{/each}}
